<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">rankeditor</h3>
</div>


<div class="container" ng-controller="MainCtrl">
  <div style="border 3px solid rgba(122, 127, 114, 0.74);">
    <div>
        <input type='text' ng-model="search.$">
        <select ng-model="search.country">
            <option value="">all</option>
            <option value="Colombia">Colombia</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Peru">Peru</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Honduras">Honduras</option>
            <option value="Mexico">Mexico</option>
            <option value="Costa Rica">Costa Rica</option>
        </select>
    </div>
   </div> 
    <div style="overflow:auto; width:300px;" class="ieDiv"  ng-repeat="ie in IEs | filter:search track by $index">  
          <b style="float:left;">{{ie.ieName}} </b> <br>
          <div style="width:184px; float:left;">  New rank: {{ie.newLifetime}}</div><br>
        <div style="float:left;">market: {{ie.country}}  </div>
    </div>

</div>


